.livro {
    font-weight: bold;
    font-size: 1.1rem;
  }

  .frase {
    font-style: italic;
    font-size: 1rem;
  }

  .autor {
    text-align: right;
    font-size: 0.85rem;
    font-weight: bold;
  }

  .card-body:hover {
    border: 2px solid #000 !important;
    border-radius: 8px !important;
  }

  .btn:hover {
    border: 2px solid #000 !important;
  }