.frase {
  font-style: italic;
}

.autor {
  text-align: right;
  font-size: small;
  font-weight: bold;
}

.card-body:hover{
    border: 2px solid black !important;
    border-radius: 5px !important;
}

.btn:hover {
    border: 2px solid black !important;
}
