<div class="container-fluid m-5">
  <div class="d-flex flex-wrap gap-3 justify-content-start">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <p class="card-text frase">
          "Um leitor vive mil vidas antes de morrer. O homem que nunca lê vive apenas uma". 
        </p>
        <p class="autor">George R.R. Martin</p>
        <div class="d-flex">
          <button type="button" class="btn btn-outline-primary btn-sm mx-2" title="Editar">
            <i class="bi bi-pencil"></i>
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm mx-2" title="Apagar">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-body">
        <p class="card-text frase">
          "Um leitor vive mil vidas antes de morrer. O homem que nunca lê vive apenas uma". 
        </p>
        <p class="autor">George R.R. Martin</p>
        <div class="d-flex">
          <button type="button" class="btn btn-outline-primary btn-sm mx-2" title="Editar">
            <i class="bi bi-pencil"></i>
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm mx-2" title="Apagar">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-body">
        <p class="card-text frase">
          "Um leitor vive mil vidas antes de morrer. O homem que nunca lê vive apenas uma". 
        </p>
        <p class="autor">George R.R. Martin</p>
        <div class="d-flex">
          <button type="button" class="btn btn-outline-primary btn-sm mx-2" title="Editar">
            <i class="bi bi-pencil"></i>
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm mx-2" title="Apagar">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-body">
        <p class="card-text frase">
          "Um leitor vive mil vidas antes de morrer. O homem que nunca lê vive apenas uma". 
        </p>
        <p class="autor">George R.R. Martin</p>
        <div class="d-flex">
          <button type="button" class="btn btn-outline-primary btn-sm mx-2" title="Editar">
            <i class="bi bi-pencil"></i>
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm mx-2" title="Apagar">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-body">
        <p class="card-text frase">
          "Um leitor vive mil vidas antes de morrer. O homem que nunca lê vive apenas uma". 
        </p>
        <p class="autor">George R.R. Martin</p>
        <div class="d-flex">
          <button type="button" class="btn btn-outline-primary btn-sm mx-2" title="Editar">
            <i class="bi bi-pencil"></i>
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm mx-2" title="Apagar">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-body">
        <p class="card-text frase">
          "Um leitor vive mil vidas antes de morrer. O homem que nunca lê vive apenas uma". 
        </p>
        <p class="autor">George R.R. Martin</p>
        <div class="d-flex">
          <button type="button" class="btn btn-outline-primary btn-sm mx-2" title="Editar">
            <i class="bi bi-pencil"></i>
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm mx-2" title="Apagar">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
