<div class="d-flex justify-content-center align-items-center flex-column min-vh-100 bg-primary">
  <div class="login-card pt-0 px-4 pb-4 m-4 bg-white rounded shadow" style="width: 100%; max-width: 400px;">
    
    <img src="assets/logo_biblioteca_rhc.png" 
         alt="logo do Biblioteca RHC" 
         style="width: 250px;" 
         class="mx-auto mt-4 d-block">

    <h4 class="text-center mb-4">Login</h4>

    <form action="/login" method="post" (ngSubmit)="onLogin()">
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" required>
      </div>

      <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" [(ngModel)]="senha" name="senha" class="form-control" id="senha" required>
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>

      <div class="text-danger text-center mt-3" *ngIf="erroLogin">
        <small>{{ erroLogin }}</small>
      </div>
    </form>
  </div>
</div>
