<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
    <h2 class="text-center mb-4">Login</h2>
    <form (ngSubmit)="login()">
      <div class="mb-3">
        <label for="username" class="form-label">Usuário</label>
        <input type="text" id="username" class="form-control" [(ngModel)]="username" name="username" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required>
      </div>

      <button type="submit" class="btn btn-primary w-100">Entrar</button>
    </form>
  </div>
</div>
