<div class="d-flex justify-content-between align-items-center my-4 ms-4 mb-0">
  <p class="mb-0">
    <em
      >"Um leitor vive mil vidas antes de morrer. O homem que nunca lê vive
      apenas uma".</em
    >
    George R. R. Martin
  </p>
  <div>
    <button
      type="button"
      [routerLink]="['/cadastrar']"
      class="btn btn-primary mx-1"
      style="width: 100px"
    >
      Cadastrar
    </button>
    <button
      type="button"
      [routerLink]="['/editar']"
      class="btn btn-primary mx-1"
      style="width: 100px"
    >
      Editar
    </button>
    <button
      type="button"
      class="btn btn-primary mx-1"
      data-bs-toggle="modal"
      data-bs-target="#modalApagar"
      [disabled]="idLivrosSelecionados.length !== 1"
    >
      Apagar
    </button>
    <div class="modal fade" id="modalApagar" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Apagar um Livro
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Você tem certeza que deseja apagar o livro
            <strong>{{ getLivroSelecionado()?.nomeDoLivro }}</strong
            >?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Voltar
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="confirmarApagar()"
              data-bs-dismiss="modal"
            >
              Confirmar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive conteudo-principal">
  <table
    class="table my-4 ms-4 table-hover"
    style="table-layout: auto; width: 100%"
  >
    <thead class="table-dark">
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Código</th>
        <th scope="col">Autor</th>
        <th scope="col">Livro</th>
        <th scope="col">Editora</th>
        <th scope="col" class="text-center">Nº de Páginas</th>
        <th scope="col" class="text-center">Publicação</th>
        <th scope="col" class="text-center">Aquisição</th>
        <th scope="col">Classificação</th>
        <th scope="col">Observação</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let livro of livros">
        <td class="text-center">
          <input
            type="checkbox"
            (change)="onSelecionarLivro($event, livro.id)"
          />
        </td>
        <td class="text-center">{{ livro.id }}</td>
        <td class="text-wrap">{{ livro.autor }}</td>
        <td class="text-wrap">{{ livro.nomeDoLivro }}</td>
        <td class="text-wrap">{{ livro.editora }}</td>
        <td class="text-center">{{ livro.numeroDePaginas }}</td>
        <td class="text-center">{{ livro.anoDePublicacao }}</td>
        <td class="text-center">
          {{ livro.dataDeAquisicao | date : "dd/MM/yyyy" }}
        </td>
        <td class="text-wrap">{{ livro.classificacaoCatalografica }}</td>
        <td class="text-wrap">{{ livro.observacao }}</td>
      </tr>
    </tbody>
  </table>
</div>
