<footer class="text-center p-4 bg-gray-200 text-sm text-gray-600 mt-auto bg-primary">
  <div class="container-fluid">
    <p>© {{ anoAtual }} Biblioteca RHC. Todos os direitos reservados.</p>
    <p>Desenvolvido por <strong>Rodrigo H. Cordeiro</strong>.</p>
    <p>
      <a
        href="https://github.com/rodrigohenriquecordeiro/BibliotecaRHC"
        target="_blank"
        rel="noopener noreferrer"
        class="mx-2"
      >
        <i class="fab fa-github"></i> GitHub
      </a>

      <a
        href="https://br.linkedin.com/in/rodrigohenriquecordeiro"
        target="_blank"
        rel="noopener noreferrer"
        class="mx-2"
      >
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
    </p>
  </div>
</footer>
