<div class="mt-4 d-flex justify-content-center">
    <h2 class="fw-normal bg-secondary">Cadastre um novo livro</h2>
</div>

<section class="container mt-2 mb-4">
    <div class="border border-2 rounded p-4">
        <form class="row g-3" [formGroup]="form">
            <div class="col-md-2">
                <label for="codigoDoLivro" class="form-label"><strong>Código do Livro</strong></label>
                <input type="number" class="form-control" id="codigoDoLivro" formControlName="codigoDoLivro" readonly>
            </div>
            <div class="col-10">
                <label for="livro" class="form-label"><strong>Livro</strong></label>
                <input type="text" class="form-control" id="livro" formControlName="nomeDoLivro">
            </div>
            <div class="col-md-6">
                <label for="escritor" class="form-label"><strong>Autor</strong></label>
                <input type="text" class="form-control" id="escritor" formControlName="autor">
            </div>
            <div class="col-md-6">
                <label for="editora" class="form-label"><strong>Editora</strong></label>
                <input type="text" class="form-control" id="editora" formControlName="editora">
            </div>
            <div class="col-md-2">
                <label for="numeroDePaginas" class="form-label"><strong>Número de Páginas</strong></label>
                <input type="number" class="form-control" id="numeroDePaginas" formControlName="numeroDePaginas">
            </div>
            <div class="col-md-2">
                <label for="anoDePublicacao" class="form-label"><strong>Ano de Publicação</strong></label>
                <input type="number" class="form-control" id="anoDePublicacao" formControlName="anoDePublicacao">
            </div>
            <div class="col-md-2">
                <label for="dataDeAquisicao" class="form-label"><strong>Data de Aquisição</strong></label>
                <input type="date" class="form-control" id="dataDeAquisicao" formControlName="dataDeAquisicao">
            </div>
            <div class="col-md-6">
                <label for="classificacaoCatalografica" class="form-label"><strong>Classificação Catalográfica</strong></label>
                <input type="text" class="form-control" id="classificacaoCatalografica" formControlName="classificacaoCatalografica">
            </div>
            <div class="col-md-12">
                <label for="observacao" class="form-label"><strong>Observação</strong></label>
                <input type="text" class="form-control" id="observacao" formControlName="observacao">
            </div>
        </form>
    </div>

    <div class="d-flex justify-content-end mt-4">
        <a class="btn bg-primary btn-lg ms-2" href="/minha-estante" role="button">Voltar</a>
        <button type="button" class="btn bg-primary btn-lg ms-2" (click)="cadastrar()">Salvar</button>
    </div>
</section>