<div
  class="modal fade show d-block"
  tabindex="-1"
  *ngIf="visible"
  style="background-color: rgba(0, 0, 0, 0.5)"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adicionar Frase Inesquecível</h5>
        <button type="button" class="btn-close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3" [formGroup]="form">
          <div class="col-md-4">
            <label for="escritor" class="form-label"
              ><strong>Autor</strong></label
            >
            <input
              type="text"
              class="form-control"
              id="escritor"
              formControlName="autor"
            />
          </div>
          <div class="col-8">
            <label for="livro" class="form-label"><strong>Livro</strong></label>
            <input
              type="text"
              class="form-control"
              id="livro"
              formControlName="nomeDoLivro"
            />
          </div>
          <div class="col-md-12">
            <label for="frase" class="form-label"><strong>Frase</strong></label>
            <textarea
              class="form-control"
              id="frase"
              formControlName="frase"
              rows="4"
            ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="close()">Cancelar</button>
        <button class="btn btn-primary" (click)="salvar()">Salvar</button>
      </div>
    </div>
  </div>
</div>
