.bg-primary {
    background-color: #015043f1 !important;
    color: white !important;
}

table {
    table-layout: auto;
    width: 100%;
}

td, th {
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden; 
}

.text-wrap {
    white-space: normal; 
}

.container-tabela {
  border: 1px solid #dee2e6;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  background-color: white;
}

thead th {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #212529 !important; 
  color: white;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
